body{
	margin: 0;
	padding: 0;
}

#wrapper{
	text-align: center;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	margin-top: 20px;
	width: 700px;
	padding: 10px;
	line-height: 25px;	
}

#answers{
	margin-top: 10px;
}