body{
	margin: 0;
	padding: 0;
	background-color: #a0a59d;
	text-align: center;
}

#wrapper{
	border: 1px solid black;
	margin: 0 auto 0 auto;
	margin-top: 20px;
	width: 700px;
	height: 700px;
	padding: 10px;
	line-height: 25px;
	background-color: #ffffff;	
}

#football{
	width: 100px;
	height: 100px;
	float: left;
}

#basketball{
	width: 100px;
	height: 100px;
	float: right;
}

#fiveSec{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

h2{
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#start-button{
	width: 120px;
	font-weight: bold;
	font-size: 20px;
}

#question{
	font-size: 20px;
	font-weight: bold;
}

#answers{
	margin-top: 50px;
	font-size: 25px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 35px;
}

#timer{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

#correct-answer{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

#play-again{
	width: 140px;
	font-weight: bold;
	font-size: 20px;
}

